/* ========== Обнуляющие стили ========== */
@import '_normalize';
@import '_nullstyle';

/* ========== Подключение шрифтов ========== */
@font-face {
    font-family: 'SFProDisplay Regular';
    // все современные браузеры
    src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay Medium';
    // все современные браузеры
    src: url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SFProDisplay Semibold';
    // все современные браузеры
    src: url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
}

/* ========== Глобальные переменные ========== */
@import '../../shared/styles/variables.scss';

/* ========== Глобальные стили ========== */

body {
    font-size: $text-size;
    font-family: 'SFProDisplay Regular', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #000;
    min-width: 375px; // ширина iPhone SE
}
