/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.exercise-active {
    .exercise__active {
        width: 20px;
        height: 20px;
        border: none;

        svg {
            fill: red;
        }
    }

    .exercise__amount-sets {
        width: 20px;
        height: 20px;
        border: none;

        svg {
            fill: orange;
        }
    }
}
