/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.wrapper {
    @include my-flex(center);
    svg {
        width: 10px;
        height: 10px;
        margin: 0.5px;
        fill: $color-dark-2;
    }
}
