/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.current-workout__header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: 125px;

    background-color: $color-dark-2;

    & > header {
        position: static;
    }
}
