/* ========== Глобальные переменные ========== */
@import '../../styles/variables.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: $height-header;
    @include my-flex(space-between);
    background-color: $color-dark-2;

    user-select: none;

    &__btn {
        flex: 0 0 15%;
        height: $height-header;
        color: $color-light-1;

        svg {
            width: 22px;
            height: 22px;
            fill: $color-light-1;
        }

        &:first-child {
            @include my-flex(flex-start);
            padding-left: 7px;
        }
        &:last-child {
            @include my-flex(flex-end);
            padding-right: 7px;
        }
    }

    &__title {
        flex: 0 0 70%;
        height: $height-header;
        @include my-flex(center);
        color: $color-light-1;
        cursor: pointer;
    }
}
