/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.wrapper {
    @include my-flex(space-between);
    padding: 8px 0 0 0;
}

.btn {
    width: 100%;
    height: 35px;
    color: $color-light-2;

    &:first-child {
        flex: 0 0 50px;
        padding-left: 8px;
        text-align: left;
        margin: 0 0 0 3px;
        svg {
            width: 22px;
            fill: $color-light-2;
        }
    }
    &:nth-child(2) {
        flex: 1 1 auto;
        text-align: left;
        margin: 0 10px;
    }
    &:last-child {
        flex: 0 0 50px;
        text-align: right;
        margin: 0 1px 0 0;
        padding-right: 7px;
        svg {
            width: 21px;
            fill: $color-light-2;
        }
    }
}
