/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.wrapper {
    @include my-flex(space-between);
    padding: 10px 7px 0 7px;
}

.btn {
    width: 100%;
    height: 35px;
    color: $color-main-light;

    &:first-child {
        flex: 0 0 22px;
        text-align: left;
        margin: 0 0 0 3px;
        svg {
            fill: $color-main-light;
        }
    }
    &:nth-child(2) {
        flex: 1 1 auto;
        text-align: left;
        margin: 0 0 0 20px;
    }
    &:last-child {
        flex: 0 0 20px;
        margin: 0 1px 0 0;
        svg {
            fill: $color-main-light;
        }
    }
}
