/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.set {
    max-width: $max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px 7px;
    background-color: white;
    user-select: none;

    &__control {
        flex: 0 0 15%;

        &_number {
            width: 38px;
            height: 38px;
            @include my-flex(center);
            border: 1px solid $color-border;
            border-radius: 50%;
        }
    }

    &__body {
        flex: 0 0 85%;
        padding: 0 10px 12px 0;
        border-bottom: 1px solid $color-border;
    }
}
