/* ========== Глобальные переменные ========== */
@import '../../../styles/variables.scss';

.add-exercise {

    max-width: 400px;
    width: 100%;   
    
    &__form{
        padding-top: $height-small-header;
    }
}