/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.exercise {
    width: 100%;
    padding: 10px 10px 10px 15px;
    @include my-flex(space-between);
    border-bottom: 1px solid $color-border;
    user-select: none;
    cursor: pointer;

    &__title {
        font-size: $text-size;
    }

    &__active {
        svg {
            fill: $bg-color-header;
        }
    }
}

.exercise:last-child {
    border-bottom: none;
}
