/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.modal {
    max-width: $max-width;
    position: fixed;
    z-index: 10;
    bottom: -100%;
    width: 100%;
    padding: 0 10px;
    transition: all 1s;
}

.modal.active {
    bottom: 0;
    transition: all 0.5s;
}

@mixin item {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.7);
    background-color: $color-white;
}

.body {
    min-height: 50px;
    padding: 20px 10px 10px 10px;
    @include item;

    h3 {
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.8px;
    }

    label {
        padding-left: 10px;
    }

    input {
        width: 100%;
        margin-bottom: 15px;
        padding: 5px 10px;
        border-bottom: 1px solid $color-border;
    }
}

.btn {
    width: 100%;
    height: 50px;
    @include item;
    font-size: $text-size;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: $color-blue;

    &:disabled {
        opacity: 0.4;
    }
}

.error {
    margin: -10px 10px 10px 10px;
    font-size: 12px;
    font-weight: 700;
    color: red;
}
