/* ========== Глобальные переменные ========== */
@import '../../../styles/variables.scss';

@mixin item {
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: $color-light-1;
}

.btn {
    // width: 100%;
    height: 40px;
    padding: 0 30px;
    @include item;
    font-size: $text-size;
    background-color: $color-dark-2;
    color: $color-light-1;
    user-select: none;
}
