/* ========== Переменные ========== */
$color-light-1: #ffffff;
$color-light-2: #bebebe;
$color-light-3: #909090;
$color-dark-3: #606060;
$color-dark-2: #303030;
$color-dark-1: #000000;
$color-main-error: red;
$color-border: rgba($color-light-3, 0.3);

$height-header: 50px;
$height-line: 55px;
$padding-body: 15px 7px;
$max-width: 768px;
$text-size: 16px;

// заменить
$bg-color-btn-play: yellowgreen;
$bg-color-btn-copy: orange;
$bg-color-btn-edit: lightblue;
$bg-color-btn-delete: tomato;

/* ========== Миксины ========== */
@import './mixins/my-flex.scss';

@mixin error-message($type) {
    @if ($type: 'form-login') {
        position: relative;
        margin: -20px 0 20px 0;
        font-size: 16px;
        font-weight: 400;
        color: red;
    }
}

/* ========== Общие стили ========== */

.page-container {
    padding-top: $height-header;
}
