/* ========== Переменные ========== */
$color-main-bright: rgb(243, 112, 34);
$color-main-light: rgb(255, 255, 255);
$color-main-dark: rgb(29, 29, 29);
$color-main-gray: rgb(130, 130, 130);

$color-border: $color-main-gray;

$height-header: 50px;
$height-line: 42px;
$padding-body: 15px 7px;
$max-width: 768px;
$text-size: 18px;

// заменить
$bg-color-btn-play: yellowgreen;
$bg-color-btn-copy: orange;
$bg-color-btn-edit: lightblue;
$bg-color-btn-delete: tomato;

/* ========== Миксины ========== */
@import './mixins/my-flex.scss';

@mixin error-message($type) {
    @if ($type: 'form-add') {
        margin: -10px 10px 10px 10px;
        font-size: 12px;
        font-weight: 700;
        color: red;
    }
    @if ($type: 'form-login') {
        position: relative;
        margin: -20px 0 20px 0;
        font-size: 16px;
        font-weight: 400;
        color: red;
    }
}

/* ========== Общие стили ========== */

.page-container {
    padding-top: $height-header;
}
