/* ========== Глобальные переменные ========== */
@import '../../../../styles/variables.scss';

.workout {
    width: 100%;
    padding: 10px 7px;

    @include flexbox-center;
    justify-content: space-between;

    border-bottom: 1px solid $color-border;
    background-color: white;
    cursor: pointer;
    user-select: none;

    &__status {
        width: 22px;
        height: 22px;

        margin-right: 10px;

        svg {
            fill: $bg-color-header;
        }
    }

    &__title {
        flex: 1 1 80%;
        font-size: 16px;
    }

    &__date {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
    }
}

@mixin size-btn($padding) {
    width: 42px;
    height: 42px;
    flex: 0 0 42px;
    padding: $padding;
}
.btn {
    width: 100%;
    @include my-flex(flex-end);

    &__play {
        @include size-btn(10px);
        background-color: green;
    }
    &__copy {
        @include size-btn(10px);
        background-color: orange;
    }
    &__delete {
        @include size-btn(11px);
        background-color: red;
        svg {
            color: white;
        }
    }
}
