/* ========== Глобальные переменные ========== */
@import '../../shared/styles/variables.scss';

.current-workout {
    .page-container {
        padding-top: 110px;
        padding-bottom: 62px;
    }

    &__button {
        position: fixed;
        bottom: 0;
        z-index: 5;
        border-top: 1px solid $color-dark-3;
        background-color: $color-light-1;
    }
}
