/* ========== Глобальные переменные ========== */
@import '../../shared/styles/variables.scss';

.current-workout {
    .page-container {
        padding-top: 130px;
    }

    &__button {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        padding: 0 10px;
        @include my-flex(center);

        button {
            max-width: $max-width;
        }
    }
}
