/* ========== Глобальные переменные ========== */
@import '../../shared/styles/variables.scss';

.current-workout {
    height: 1000px;

    .page-container {
        padding-top: 125px;
        padding-bottom: 62px;
        @media (max-height: 700px) {
            padding-bottom: 0;
        }
    }

    &__button {
        position: fixed;
        bottom: 0;
        z-index: 5;

        background-color: $color-light-1;
        @media (max-height: 700px) {
            display: none !important;
        }
    }
}
