/* ========== Глобальные переменные ========== */
@import '../../shared/styles/variables.scss';

$login-color-dark: rgb(29, 29, 29);

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $color-dark-2 inset;
    -webkit-text-fill-color: $color-light-2;
    transition: background-color 5000s ease-in-out 0s;
}

.bg-wrapper {
    background-image: url('./background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    width: 100vw;
    height: 100vh;
    @include my-flex(center);
    flex-direction: column;
    background-color: rgba($login-color-dark, 0.92);

    &__container {
        width: 450px;
        text-align: center;
        padding: 25px;
        border-radius: 25px;
        background-color: $color-dark-2;

        form {
            max-width: 350px;
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }

    &__title {
        margin: 70px 0 80px 0;
        font-size: 40px;
        color: $color-light-1;
        @media (max-height: 400px) {
            margin: 100px 0 80px 0;
        }
    }

    &__input {
        width: 100%;
        margin: 0 0 30px 0;
        padding: 7px 0 15px 0;

        border-bottom: 1px solid $color-light-3;
        background-color: inherit;
        font-size: 24px;
        color: $color-light-2;

        &:focus {
            color: $color-light-1;
            border-bottom: 1px solid $color-light-1;
        }
        &:-webkit-autofill {
            font-size: 20px !important;
        }
    }

    &__btn {
        width: 100%;
        display: block;
        margin-top: 25px;
        padding: 12px 0;
        border-radius: 25px;
        background-color: $color-light-1;
        font-size: 24px;
        font-weight: 700;
        color: $color-dark-1;
    }

    &__link {
        margin: 80px 0 0 0;
        color: $color-light-3;

        @media (max-height: 400px) {
            margin: 100px 0 0 0;
        }
        span {
            color: $color-light-1;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__error {
        display: block;
        text-align: left;
        @include error-message('form-login');
    }
}
