/* ========== Глобальные переменные ========== */
@import '../../../../shared/styles/variables.scss';

.wrapper {
}
.title {
    padding: 7px 10px 7px 15px;
    background-color: $bg-color-gray;
    color: $color-gray;
}
.list {
}
