.wrapper {
    position: relative;
}

.front {
    &_moved_left {
        position: relative;
        z-index: 4;
        // left: -84px;
    }
}
.back {
    display: none;
    &_active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}
