.wrapper {
    position: relative;
    height: 100%;
}

.front {
    position: relative;
    z-index: 4;
    transition: all 0.1s;
}

.back {
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
