/* ========== Глобальные переменные ========== */
@import '../../../styles/variables.scss';

.wrapper {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 5px 10px;
    line-height: 24px;
    @include my-flex(space-between);
    border: 1px solid $color-border;
    background: $color-light-1;
    &.active {
        border: 1px solid $color-dark-1;
    }

    &:first-child {
        border: 1px solid $color-border;
        border-bottom: none;
    }

    &:last-child {
        border: 1px solid $color-border;
        border-top: none;
    }
}

.active {
    background-color: $color-dark-2;
    color: $color-light-1;
    svg {
        fill: $color-light-1;
    }
}
