/* ========== Глобальные переменные ========== */
@import '../../../styles/variables.scss';

.wrapper {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 4px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 5px 10px;
    line-height: 24px;
    border-bottom: 1px solid $color-border;
    background: $color-main-light;

    &:last-child {
        border-bottom: none;
    }
}

.active {
    box-shadow: 0 0 2px 2px $color-main-dark;
    background-color: $color-main-dark;
    color: $color-main-light;
}
